mj-section
    mj-column
        mj-text Ensemble, voyons comment nous pouvons répondre à vos besoins :
        mj-text protéger vos équipements et les données personnelles de vos clients
        mj-text améliorer votre visibilité sur le web
        mj-text faciliter votre activité même en déplacement
        mj-text A tout de suite ! 
        mj-text 
            img(src="./images/signature.png" alt="")/
            | le directeur de la Boutique Orange de Tourcoing.