mj-section(mj-class="bgT0" padding="0px")
    mj-column
        mj-text(padding="0px 20px 5px 30px" mj-class="T15-600 cO") Ensemble, voyons comment nous pouvons répondre à vos besoins :
        mj-text(padding="5px 20px 5px 30px" mj-class="T15-600 cTW") #[span(style="display: inline-block; width: 8px; height: 8px; background-color: #ff7900;") ] #[span(style="padding-left: 15px;") ] protéger vos équipements et les données personnelles de vos clients
        mj-text(padding="5px 20px 5px 30px" mj-class="T15-600 cTW") #[span(style="display: inline-block; width: 8px; height: 8px; background-color: #ff7900;") ] #[span(style="padding-left: 15px;") ] améliorer votre visibilité sur le web
        mj-text(padding="5px 20px 5px 30px" mj-class="T15-600 cTW") #[span(style="display: inline-block; width: 8px; height: 8px; background-color: #ff7900;") ] #[span(style="padding-left: 15px;") ] faciliter votre activité même en déplacement
        mj-text(padding="20px" padding-left="30px" mj-class="T15-600 cTW") À tout de suite !
        mj-text(padding="0" padding-left="15px" mj-class="T15-600 cTW" vertical-align="middle")
            img(padding="0" width="45px" style="vertical-align:middle;" src="./images/signature.png" alt="")/
            | #[span(style="padding:10px 10px 10px 15px;") le directeur de la Boutique Orange de Tourcoing.] 