mj-wrapper(mj-class="bgT0" padding="20px 32px")
    mj-section(padding="10px" border="2px solid #FF7900")
        mj-column(width="100%")
            mj-text(padding="0px" align="center" mj-class="T15-700 cTW") Notre équipe d'experts Pro de votre boutique Orange Tourcoing est heureuse de vous accueillir avec ou sans rendez-vous du mardi au samedi.
        mj-column(width="50%" vertical-align="middle")
            mj-image(src="./images/boutique.png" alt="")/
        mj-column(width="50%" vertical-align="middle")
            mj-text(align="center" mj-class="T15-700 cTW") 6 Grand Place
            mj-text(align="center" mj-class="T15-700 cTW") 59200 Tourcoing
            mj-button Prendre rendez-vous
        mj-column(width="100%")
            mj-text(padding="0px" align="center" mj-class="T15-700 cTW") Réservez un créneau horaire dans votre boutique et nous vous garantissons un gain de temps, c'est vraiment facile.