mj-section
    mj-column(width="100%")
        mj-text Notre équipe d'experts Pro de votre boutique Orange Tourcoing est heureuse de vous accueillir avec ou sans rendez-vous du mardi au samedi.
    mj-column
        mj-image(src="./images/boutique.png" alt="")/
    mj-column
        mj-text 6 Grand Place
        mj-text 59200 Tourcoing
        mj-button Prendre rendez-vous
    mj-column(width="100%")
        mj-text Réservez un créneau horaire dans votre boutique et nous vous garantissons un gain de temps, c'est vraiment facile.