mj-wrapper(mj-class="bgT0" padding="20px 34px")
    mj-section(padding="10px" border="2px solid #FF7900")
        mj-column(width="100%")
            mj-text(padding="0" align="center" mj-class="T15-600 cTW") Notre équipe d'experts Pro de votre #[span(style="color:#FF7900;") boutique Orange Tourcoing] est heureuse de vous accueillir avec ou sans rendez-vous du mardi au samedi.
            mj-spacer(height="10px")/
        mj-column(padding="10px 15px" width="40%" vertical-align="middle")
            mj-image(padding="0" width="202px" src="./images/boutique.png" alt="")/
        mj-column(width="60%" vertical-align="middle")
            mj-text(align="center" mj-class="T15-600 cTW") 6 Grand Place
            mj-text(align="center" mj-class="T15-600 cTW") 59200 Tourcoing
            mj-button Prendre rendez-vous
        mj-column(width="100%")
            mj-spacer(height="10px")/
            mj-text(padding="0" align="center" mj-class="T15-600 cTW") Réservez un créneau horaire dans votre boutique et nous vous garantissons un gain de temps, c'est vraiment facile.