mj-section
    mj-column
        mj-text Retrouvez-nous sur : 
    mj-column
        mj-text
            img(src="./images/monde.gif" alt="")/ Orange Pro 
    mj-column
        mj-text
            img(src="./images/appli.png" alt="")/ Appli Orange Pro
    mj-column
        mj-social
            mj-social-element(name="facebook" href="https://www.facebook.com/OrangePro" alt="Facebook" background-color="#3b5998")
            mj-social-element(name="twitter" href="https://twitter.com/OrangePro" alt="Twitter" background-color="#55acee")
            mj-social-element(name="linkedin" href="https://www.linkedin.com/showcase/orange-pro/" alt="LinkedIn" background-color="#0077b5")

mj-section
    mj-column
        mj-text Les informations vous concernant sont traitées par Orange à des fins d'analyses et de prospection commerciale. Vous disposez d’un droit d’accès, de rectification et de suppression des données qui vous concernent. Vous pouvez demander la portabilité de ces dernières. Vous avez également le droit de vous opposer aux traitements réalisés ou d’en demander la limitation. Vous pouvez émettre des directives quant au sort de vos données personnelles après votre décès. Pour exercer vos droits, utilisez le formulaire de contact en ligne ou écrivez à Orange Business Service, Agences Entreprises, Gestion des données personnelles, TSA 70007, 82008 Montauban.Votre demande devra être accompagnée d'éléments permettant de vous identifier.
        mj-text Nous vous rappelons qu'Orange ne vous demandera jamais vos coordonnées bancaires par courrier électronique.
        mj-text Pour ne plus recevoir de message type "conseils utiles à votre activité" à cette adresse, cliquez ici.
        mj-text © Copyright : Orange
        mj-text Orange SA au capital de 10 640 226 396 € - RCS 380 129 866 - 111, quai du Président Roosevelt 92130 Issy-les-Moulineaux – RCS Nanterre 380 129 866.