mj-section(mj-class="bgT0" padding="15px 0px")
    mj-column(width="30%")
        mj-text(padding="0" align="center" mj-class="T14-700 cTW" vertical-align="middle") Retrouvez-nous sur :
    mj-group(width="70%")
        mj-column(width="33.333333%")
            mj-text(padding="0" mj-class="T13-700 cTW" vertical-align="middle")
                img(padding="0" width="28px" style="vertical-align: middle;" src="./images/monde.gif" alt="")/ Orange Pro
        mj-column(width="33.333333%")
            mj-text(padding="0" mj-class="T13-700 cTW" vertical-align="middle")
                img(padding="0" width="32px" style="vertical-align: middle;" src="./images/appli.png" alt="")/ Appli Orange Pro
        mj-column(width="33.333333%")
            mj-social(padding="0" icon-size="32px" mode="horizontal" vertical-align="middle")
                mj-social-element(src="./images/facebook.png" href="https://www.facebook.com/OrangePro" alt="Facebook" )
                mj-social-element(src="./images/xtwitter.png" href="https://twitter.com/OrangePro" alt="Twitter" )
                mj-social-element(src="./images/linkedin.png" href="https://www.linkedin.com/showcase/orange-pro/" alt="LinkedIn")

mj-section(mj-class="bgT0" padding="5px 10px 10px 10px")
    mj-column
        mj-text(padding="0" mj-class="T10-400 cTW") Les informations vous concernant sont traitées par Orange à des fins d'analyses et de prospection commerciale. Vous disposez d’un droit d’accès, de rectification et de suppression des données qui vous concernent. Vous pouvez demander la portabilité de ces dernières. Vous avez également le droit de vous opposer aux traitements réalisés ou d’en demander la limitation. Vous pouvez émettre des directives quant au sort de vos données personnelles après votre décès. Pour exercer vos droits, utilisez le formulaire de contact en ligne ou écrivez à Orange Business Service, Agences Entreprises, Gestion des données personnelles, TSA 70007, 82008 Montauban.Votre demande devra être accompagnée d'éléments permettant de vous identifier.
        mj-text(padding="0" padding-top="10px" mj-class="T10-400 cTW") Nous vous rappelons qu'Orange ne vous demandera jamais vos coordonnées bancaires par courrier électronique.
        mj-text(padding="0" padding-bottom='10px' mj-class="T10-400 cTW") Pour ne plus recevoir de message type "conseils utiles à votre activité" à cette adresse, cliquez ici.
        mj-text(padding="0" mj-class="T10-400 cTW") © Copyright : Orange
        mj-text(padding="0" mj-class="T10-400 cTW") Orange SA au capital de 10 640 226 396 € - RCS 380 129 866 - 111, quai du Président Roosevelt 92130 Issy-les-Moulineaux – RCS Nanterre 380 129 866.