mj-section(mj-class="bgT0")
    mj-column(width="100%")
        mj-image(padding="0" width="640px" src="./images/LogoOr.png", alt="")/
    mj-column(width="50%")
        mj-text(mj-class="T30-700 cO") Et si nous parlions de votre entreprise ?
        mj-text(mj-class="T25-700 cTW") Nous vous attendons en boutique à la date de votre choix.
    mj-column(width="50%")
        mj-image(padding="0" width="253px" src="./images/personnage.png" alt="")/