mj-section
    mj-column(width="100%")
        mj-image(src="./images/LogoOr.png", alt="")/
    mj-column
        mj-text Et si nous parlions de votre entreprise ?
        mj-text Nous vous attendons en boutique à la date de votre choix.
    mj-column
        mj-image(src="./images/personnage.png" alt="")/